.navbar {
    background-color: #282a36 !important;
    min-width: 100%;
}

.navbar a {
    color: white;
}
.navbar a:hover {
    color: grey;
}

.navbar-text {
    color: white;
}

.navbar-text a:hover {
    text-decoration: none;
}

.main {
    position: fixed;
    width: 50%;
    height: 100%;
    overflow: auto;
    background-color: #1a1c27;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-group {
    margin-top: 50px;
}

.problems {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.problem-card {
    display: block;
    background-color: #282a36;
    border-radius: 5px;
    padding: 20px 20px;
    color: white;
    margin: 10px;
    cursor: pointer;
    width: 100%;
    transition: all 0.2s ease;
}

.problem-card:hover {
    color: white;
    text-decoration: none;
    background-color: #1a1c27;
}

.problem {
    color: white;
    position: fixed;
    width: 50%;
    height: 100%;
    right: 0;
    overflow: auto;
    background-color: #1a1c27;
    padding: 40px 20px;
    font-size: 14px;
}

.problem-statement {
    padding: 20px;
    background-color: #1a1c27;
}
.problem-statement h4 a {
    text-decoration: none;
    color: #b3b3b3;
}

.problem-statement h4 a:hover {
    color: #646464;
}

.problem pre {
    color: white;
}

.problem-error {
    font-size: 20px;
    text-align: center;
    margin-top: 45vh;
    color: white;
}

.main-error {
    font-size: 20px;
    text-align: center;
    margin-top: 25vh;
    color: white;
}

.problem-modal {
    display: none;
}

.problem-statement {
    color: white;
}

.problem-statement pre {
    color: white;
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.problem-statement img {
    max-width: 100%;
}

.modal-body {
    background-color: #1a1c27;
}

.modal-header {
    color: white;
    background-color: #1a1c27;
    border: none;
    font-size: 14px;
}

.modal-content {
    background-color:#1a1c27 !important;
    border: none;
}

.close span {
    color: white;
}

.btn-dark {
    background-color: #282a36 !important;
}

.btn-dark:hover {
    background-color: #1a1c27 !important;
}

.btn-dark:active {
    background-color: #1a1c27 !important;
}

@media (max-width: 760px) {
    .main {
        width: 100%;
    }

    .navbar {
        min-width: 0px;
    }

    .problem-card {
        width: 80%;
    }

    .problem {
        width: 0%;
    }

    .problem-desktop {
        display: none;
    }

    .problem-error {
        display: none;
    }

    .problem-modal {
        display: block;
    }

    img {
        height: 0px !important;
    }
}
